# Configurations
/app/config/parameters.yml
/phpunit.xml
/phpspec.yml

# Composer dependencies
/vendor/
/composer.lock

# NPM dependencies
/node_modules/

# Bower dependencies
/web/assets/bower_components/

# Backup files
*~

# IDE settings
/.idea/

/build/
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
