{% extends 'base.html.twig' %}

{% block body %}
    <div id="content">
        <h2>Tippübersicht {{ match.paarung }}</h2>
        <table>
            <thead>
            <tr>
                <th>Spieler</th>
                <th>Tipp</th>
                <th>Punkte</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
{% endblock %}
